* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "Times New Roman", serif;
  overflow-x: hidden;
}


#jumpMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100vh;
  background: #e3b126;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 1000;
}

#jumpMenu br {
  display: none;
}

#jumpMenu h2 {
  font-size: 26px;
  margin-bottom: 26px;
}

#jumpMenu a {
  display: block;
  margin: 14px 0;
  font-size: 17px;
  color: blue;
  text-decoration: underline;
}


main {
  margin-left: 10%;
  padding-top: 150px;
}


main > header {
  position: fixed;
  top: 0;
  left: 10%;
  width: 90%;
  background: red;
  z-index: 2000;
  text-align: center;
}

main > header p {
  margin: 0;
  padding: 22px 0;
  font-size: 34px;
  font-weight: bold;
}

main > header nav {
  display: flex;
  justify-content: center;
  background: black;
  padding: 12px 0;
}

main > header button {
  background: #0a24ff;
  color: white;
  border: none;
  padding: 14px 44px;
  font-size: 18px;
  margin: 0 18px;
}


main h1 {
  text-align: center;
  font-size: 44px;
  margin: 30px 0 45px;
}


#container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;

  column-gap: 24px;
  row-gap: 60px;
  padding: 0 16px 120px;
}

#container article {
  width: 300px;
  font-size: 16px; 
}

#container article h2 {
  font-size: 1.375em;
  margin: 0 0 10px;
}

#container article p {
  font-size: 1em;
  line-height: 1.35;
}

#container article a {
  color: blue;
}


#container:has(article:target) {
  grid-template-columns: repeat(2, 300px);
  column-gap: 60px;
}

#container:has(article:target) article {
  font-size: 18.4px; 
}

#container:has(article:target) ~ #thanks {
  font-size: 23px;   
  padding: 21px 25px;
}


#thanks {
  position: fixed;
  right: 20px;
  bottom: 20px;

  background: #8fd1ff;
  border: 2px solid #333;
  padding: 18px 22px;
  font-size: 20px;

  z-index: 9999;
}
